* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

img {
    width: 73px;
    height: auto;
}


.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-items .nav-link {

}

nav.row {
    display: flex;
    justify-content: space-between;
}

.row h2 {
    color: white;
}

.nav-brand-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    max-width: auto;
    padding: 17px 30px;
    margin:13px 0;
    gap: 14px;
}

.nav-brand {

}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #9b9c9e;
}

.hero .left-logo-name {
    display: flex;
    align-items: center;

}

.hero .right-img-col {
    display: flex;
    justify-content: flex-start;
}

.hero .right-img-col img {
    width: 60%;
    height: auto;
}

